.c-red {
    color: red;
}

.c-gray {
    color: gray;
}

.c-text-notice {
    color: #008000 !important;
}

.c-black {
    color: black;
}

.c-text-gray {
    color: #80808094;
}

.bg-red {
    background: red;
}

.bg-gold {
    background: gold;
}

.bg-green {
    background: green;
}

.bg-white {
    background: white;
}

.bg-gray {
    background: gray;
}

.bg-second-gray {
    background: #c1c1c1;

}

.red {
    background: red;
}

.gold {
    background: gold;
}

.green {
    background: green;
}
