.op0{
    opacity: 0;
}
.global-notice {
    position: fixed;
    color: white;
    background: black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: .7rem 1rem;
    border-radius: 1px;
    font-size: 1.4rem;
}