@import "variables";//一些变量
@import "utils";//for循环生成的 margin、padding、width、height类
@import "custom";//自定义的一些快捷css类
@import "color";//颜色
@import "dialog";//弹窗
@import "layout";//布局

//想自己写全局变量请到custom.scss里面写
//想自己写全局变量请到custom.scss里面写
//想自己写全局变量请到custom.scss里面写
//想自己写全局变量请到custom.scss里面写
//想自己写全局变量请到custom.scss里面写
//想自己写全局变量请到custom.scss里面写
//想自己写全局变量请到custom.scss里面写



html,body{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}
p{
    padding: 0;
    margin: 0;
}
