@use "sass:math";


///*
//
//width
//
//*/
//$width: 500;
//@while $width >= 0 {
//  .w#{$width}p {
//    width: #{$width}px !important;
//  }
//  $width: $width - 10;
//}
//
//
//$width: 100;
//@while $width >= 0 {
//  .w#{$width} {
//    //width: math.percentage($width / 100) !important;
//  }
//  $width: $width - 1;
//}
//
///*
//
//$height
//
//*/
//$height: 500;
//@while $height >= 0 {
//  .h#{$height}p {
//    height: #{$height}px !important;
//  }
//  $height: $height - 10;
//}
//
//
//$height: 100;
//@while $height >= 0 {
//  .h#{$height} {
//    //height: math.percentage($height / 100) !important;
//  }
//  $height: $height - 1;
//}
//

/*

margin

*/
$margin: 5;

@while $margin >= 0 {
  .ml#{$margin}r {
    margin-left: #{$margin}rem !important;
  }
  $margin: $margin - 1;
}

$margin: 5;
@while $margin >= 0 {
  .mr#{$margin}r {
    margin-right: #{$margin}rem !important;
  }
  $margin: $margin - 1;
}

$margin: 5;
@while $margin >=0 {
  .mt#{$margin}r {
    margin-top: #{$margin}rem !important;
  }
  $margin: $margin - 1;
}

$margin: 5;
@while $margin >= 0 {
  .mb#{$margin}r {
    margin-bottom: #{$margin}rem !important;
  }
  $margin: $margin - 1;
}

$margin: 5;
@while $margin >= 0 {
  .m#{$margin}r {
    margin: #{$margin}rem !important;
  }
  $margin: $margin - 1;
}


/*

padding

*/


$padding: 5;
@while $padding >= 0 {
  .pl#{$padding}r {
    padding-left: #{$padding}rem !important;
  }
  $padding: $padding - 1;
}

$padding: 5;
@while $padding >= 0 {
  .pr#{$padding}r {
    padding-right: #{$padding}rem !important;
  }
  $padding: $padding - 1;
}

$padding: 5;
@while $padding >= 0 {
  .pt#{$padding}r {
    padding-top: #{$padding}rem !important;
  }
  $padding: $padding - 1;
}

$padding: 5;
@while $padding >= 0 {
  .pb#{$padding}r {
    padding-bottom: #{$padding}rem !important;
  }
  $padding: $padding - 1;
}

$padding: 5;
@while $padding >= 0 {
  .p#{$padding}r {
    padding: #{$padding}rem !important;
  }
  $padding: $padding - 1;
}


/*

font

*/

$font: 40;
@while $font >=10 {
  .f#{$font} {
    font-size: #{$font}px !important;
  }
  $font: $font - 1;
}

