{
	"singleQuote": true,
	"semi": false,
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": false,
	"quoteProps": "as-needed",
	"jsxSingleQuote": true,
	"vueIndentScriptAndStyle": true,
	"endOfLine": "lf"
}
